<h1>Add a new comment</h1>

<% if @comment.errors.any? %>
<ul>
  <% @comment.errors.full_messages.each do |error_msg| %>
    <li style = "color: red"><%= error_msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
