<article class="row">
  <section class="col-md-10 col-md-offset-1">
    <h1 class = "title"><%= @post.title %></h1>
    <p><%= @post.body %></p>
    <p class = "text-muted"><%= @post.category.title %></p>
    <p class = 'text-muted posted-by'>(created by <%= @post.user_full_name %>)</p>

    <%# favourite a post %>
    <% favourite = @post.favourite_for(current_user) %>
    <% if favourite %>
    <%= link_to fa_icon("heart"), post_favourite_path(@post, favourite), method: :delete %>
    <% else %>
    <%= link_to fa_icon("heart-o"), post_favourites_path(@post), method: :post %>
    <% end %>
    <%= @post.favourites.count %>

    <% if can? :manage, @post %>
    <%# if user_signed_in? && current_user == @question.user %>
    <p><%= link_to "Edit", edit_post_path(@post) %></p>
    <% end %>

    <% if can? :manage, @post %>
    <p><%= link_to "Delete", post_path(@post),
                             method: :delete,
                             data: { confirm: "Are you sure?" }  %></p>
    <% end  %>
  </section>


<%# method: :delete asks rails to send a delete request instead of get which is accomplished using javascript and jQuery %>


</article>
<hr>

<div id="create_comment">
  <h4 class = "">Add a comment: </h4>
  <%= render "comments/form" %>
</div>

<hr>
<% if @comments  %>

<article class="row">
  <section class="col-md-10 col-md-offset-1">
    <h4>Comments</h4>
      <ul class = "comments-list" id = "comments-loop">
        <% @comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      </ul>
  </section>
</article>

<article class="row">
  <section class="col-md-10 col-md-offset-5">
    <%= paginate @comments %>
  </section>
</article>
<% end %>
