<article class="row">
  <section class="col-md-10 col-md-offset-1">
    <h1 class = "title"><%= @post.title %></h1>
    <p class = ""><%= @post.body %></p>
    <p class = 'text-muted posted-by'>(created by <%= @post.user_full_name %>)</p>

    <% if can? :manage, @post %>
    <%# if user_signed_in? && current_user == @question.user %>
    <p><%= link_to "Edit", edit_post_path(@post) %></p>
    <% end %>
    
    <% if can? :manage, @post %>
    <p><%= link_to "Delete", post_path(@post),
                             method: :delete,
                             data: { confirm: "Are you sure?" }  %></p>
    <% end  %>
  </section>


<%# method: :delete asks rails to send a delete request instead of get which is accomplished using javascript and jQuery %>


</article>
<hr>
<article class="row">
  <section class="col-md-4 col-md-offset-1">
    <h4 class = "">Add a comment: </h4>
    <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |error| %>
      <li style = "color:red"><%= error %></li>
      <% end %>
    </ul>
    <% end %>

    <%= form_for [@post, @comment] do |f| %>
      <div class = "form-group">
        <%# f.label :body %>
        <%= f.text_area :body, class: "form-control"%>
      </div>
      <div class = "form-group">
        <%= f.submit "post comment", class: "btn btn-small btn-danger-outline" %>
      </div>
    <% end %>
  </section>
</article>
<hr>
<% if @comments  %>
<article class="row">
  <section class="col-md-10 col-md-offset-1">
    <h4>Comments </h4>
    <ul class = "comments-list">
    <% @comments.each do |comment| %>
        <li class = "col-md-4">
          <%= comment.body %>
          <p class = 'text-muted posted-by'>(<%= comment.user_full_name %>)</p>
          <% if can? :manage, comment %>
          <%= link_to "delete", [@post, comment],
              method: :delete, data: { confirm: "Are you sure? "} %>
          <% end %>
        </li>

    <% end %>
    </ul>
  </section>
</article>
<article class="row">
  <section class="col-md-10 col-md-offset-5">
    <%= paginate @comments %>
  </section>
</article>
<% end %>
