<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p>(created by <%= @post.user_full_name %>)</p>


<% if can? :edit, @post %>
<%# if user_signed_in? && current_user == @question.user %>
<p><%= link_to "Edit", edit_post_path(@post)  %></p>
<% end %>

<%# method: :delete asks rails to send a delete request instead of get which is accomplished using javascript and jQuery %>
<% if can? :destroy, @post %>
<p><%= link_to "Delete", post_path(@post),
                         method: :delete,
                         data: { confirm: "Are you sure?" }  %></p>
<% end  %>


<hr>
<h3>Add a comment: </h3>

<% if @comment.errors.any? %>
<ul>
  <% @comment.errors.full_messages.each do |error| %>
  <li style = "color:red"><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<hr>
<h3>Comment: </h3>
<% @comments.each do |comment| %>
  <ul>
    <li>
      <%= comment.body %>
      <% if can? :manage, comment %>
      <%= link_to "delete", [@post, comment],
          method: :delete, data: { confirm: "Are you sure? "} %>
      <% end %>
    </li>
  </ul>
<% end %>
